.e-container {
    margin: 20px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.e-container svg {
    min-width: 100px;
    max-width: 700px;
}

.error {
    color: red;
}
