.product-crud-card {
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.product-crud-card-top-container {
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #e1e1e1;
}

.product-crud-card-top-container img {
    width: 158px;
    height: 158px;
}

.product-crud-card-bottom-container {
    text-align: left;
    padding: 15px 20px 30px 20px;
}

.product-crud-card-bottom-container h6 {
    color: #263238;
    font-size: 18px;
    font-weight: 700;
}

.product-crud-categories-container {
    padding: 0 20px;
    flex-wrap: wrap;
    display: flex;
}

.product-crud-card-buttons-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
 
.product-crud-card-button {
    width: 110px;
    height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: -0.015em;
    border-radius: 10px;
}

.product-crud-card-button-first {
    margin-right: 10px;
}